node-red/flows.json
[{"id":"39b6e9f7.7d6636","type":"tab","label":"Hotelschakelingen","disabled":false,"info":""},{"id":"145c2489.f4645b","type":"tab","label":"Home And Away","disabled":false,"info":""},{"id":"4b675256.e3946c","type":"tab","label":"Flow Keuken","disabled":false,"info":""},{"id":"43622070.6205f","type":"tab","label":"Stofzuiger","disabled":false,"info":""},{"id":"7004d25f.4eb20c","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"283f0fdf.31d54","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d2524e0b.4b29b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"317374.321f5c8c","type":"server-state-changed","z":"145c2489.f4645b","name":"Away","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":70,"y":600,"wires":[[],["c79d6e89.3526d"]]},{"id":"f557546.1191fa8","type":"change","z":"145c2489.f4645b","name":"lamp badkamer en spiegel","rules":[{"t":"set","p":"LampEnSpiegel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":853,"y":817,"wires":[[]]},{"id":"88cb550f.d5ddb8","type":"delay","z":"145c2489.f4645b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":280,"wires":[["79bcedae.c6dc34","b8e78fe6.42fb1","c46c3caf.9da66","e0d5fd38.dc0a","c68969c4.9aeaf8","34ce9825.ef70e8","19204dd7.b669e2","461550d8.b1125","35ebacd6.875104","899b41f5.416cc","7a37cf8d.14c19","9ce9dade.ed70f8","eb740a1b.6963f8","c7a0e760.b277b8","f5894fb2.c5dfd"]]},{"id":"71a0c7ed.0ba7c8","type":"api-current-state","z":"145c2489.f4645b","name":"badkamer lamp en spiegel status","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.lamp_en_spiegel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":496,"y":817,"wires":[["f557546.1191fa8"]]},{"id":"94a014dc.035508","type":"api-current-state","z":"145c2489.f4645b","name":"lamp  badkamer","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.lamp_badkamer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":436,"y":852,"wires":[["5eab5977.f94668"]]},{"id":"5eab5977.f94668","type":"change","z":"145c2489.f4645b","name":"Lamp badkamer","rules":[{"t":"set","p":"LampBadkamer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":851,"wires":[[]]},{"id":"e7a7ee5b.71e5d","type":"server-state-changed","z":"145c2489.f4645b","name":"home","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":55,"y":1467,"wires":[[],["e708ccbc.21458","42499ffa.3cdac","a8f91620.35f058","1b2fdde4.231302","ae14383b.d74018","f35aa88c.ced518","be5f5dc6.65687","d8c32f05.39294","be4cc638.bfc3e8","8651a09e.8198","1acd1046.86088","175d92df.49533d","f0317833.bc1578","6120a86a.db4938","771ef6f5.ea4e48"]]},{"id":"e708ccbc.21458","type":"switch","z":"145c2489.f4645b","name":"LampEnSpiegel","property":"LampEnSpiegel","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1383,"wires":[["9536f5b0.d115a8"]]},{"id":"4aa6f894.c90d38","type":"api-current-state","z":"145c2489.f4645b","name":"stroompunt_huiskamer_achter","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.stroompunt_huiskamer_achter","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":485,"y":886,"wires":[["7b0d3bad.cba544"]]},{"id":"7b0d3bad.cba544","type":"change","z":"145c2489.f4645b","name":"stroompunt_huiskamer_achter","rules":[{"t":"set","p":"stroompunt_huiskamer_achter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":862,"y":886,"wires":[[]]},{"id":"93de0345.57d36","type":"api-current-state","z":"145c2489.f4645b","name":"lamp_slaapkamer","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.lamp_slaapkamer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":446,"y":922,"wires":[["ea536405.15fdd8"]]},{"id":"ea536405.15fdd8","type":"change","z":"145c2489.f4645b","name":"lamp_slaapkamer","rules":[{"t":"set","p":"lamp_slaapkamer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":822,"y":922,"wires":[[]]},{"id":"56dea85f.510918","type":"api-current-state","z":"145c2489.f4645b","name":"beeldschermen","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.beeldschermen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":436,"y":955,"wires":[["876c9e78.3aac5"]]},{"id":"876c9e78.3aac5","type":"change","z":"145c2489.f4645b","name":"beeldschermen","rules":[{"t":"set","p":"beeldschermen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":955,"wires":[[]]},{"id":"a20786e7.c9a8d8","type":"api-current-state","z":"145c2489.f4645b","name":"licht_keuken","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.licht_keuken","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":427,"y":989,"wires":[["dc926df4.163d8"]]},{"id":"dc926df4.163d8","type":"change","z":"145c2489.f4645b","name":"licht_keuken","rules":[{"t":"set","p":"licht_keuken","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":988,"wires":[[]]},{"id":"5ba9fc4b.1ca644","type":"api-current-state","z":"145c2489.f4645b","name":"nachtlampje","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.nachtlampje","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":429,"y":1024,"wires":[["e55faec4.e39a3"]]},{"id":"e55faec4.e39a3","type":"change","z":"145c2489.f4645b","name":"nachtlampje","rules":[{"t":"set","p":"nachtlampje","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":804,"y":1023,"wires":[[]]},{"id":"42499ffa.3cdac","type":"switch","z":"145c2489.f4645b","name":"LampBadkamer","property":"LampBadkamer","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1423,"wires":[["a7d65f19.d7ef9"]]},{"id":"a8f91620.35f058","type":"switch","z":"145c2489.f4645b","name":"stroompunt_huiskamer_achter","property":"stroompunt_huiskamer_achter","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":1463,"wires":[["79390098.3a2dc"]]},{"id":"1b2fdde4.231302","type":"switch","z":"145c2489.f4645b","name":"lamp_slaapkamer","property":"lamp_slaapkamer","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":1503,"wires":[["8b9cb8ab.5b73d8"]]},{"id":"ae14383b.d74018","type":"switch","z":"145c2489.f4645b","name":"beeldschermen","property":"beeldschermen","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1543,"wires":[["e1a03e26.2a5e9"]]},{"id":"f35aa88c.ced518","type":"switch","z":"145c2489.f4645b","name":"licht_keuken","property":"licht_keuken","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1583,"wires":[["95c6ea00.5eedb8"]]},{"id":"be5f5dc6.65687","type":"switch","z":"145c2489.f4645b","name":"nachtlampje","property":"nachtlampje","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1623,"wires":[["6c5fa631.063848"]]},{"id":"9536f5b0.d115a8","type":"api-call-service","z":"145c2489.f4645b","name":"LampEnSpiegel","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_en_spiegel","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1383,"wires":[[]]},{"id":"a7d65f19.d7ef9","type":"api-call-service","z":"145c2489.f4645b","name":"lamp_badkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_badkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1423,"wires":[[]]},{"id":"79390098.3a2dc","type":"api-call-service","z":"145c2489.f4645b","name":"stroompunt_huiskamer_achter","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.stroompunt_huiskamer_achter","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":860,"y":1463,"wires":[[]]},{"id":"8b9cb8ab.5b73d8","type":"api-call-service","z":"145c2489.f4645b","name":"lamp_slaapkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_slaapkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":1503,"wires":[[]]},{"id":"e1a03e26.2a5e9","type":"api-call-service","z":"145c2489.f4645b","name":"beeldschermen","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.beeldschermen","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1543,"wires":[[]]},{"id":"95c6ea00.5eedb8","type":"api-call-service","z":"145c2489.f4645b","name":"licht_keuken","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.licht_keuken","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":1583,"wires":[[]]},{"id":"6c5fa631.063848","type":"api-call-service","z":"145c2489.f4645b","name":"nachtlampje","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.nachtlampje","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":1623,"wires":[[]]},{"id":"79bcedae.c6dc34","type":"api-call-service","z":"145c2489.f4645b","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Moet de PC uit??\",\"inline_keyboard\":[\"PC Afsluiten:/ShutdownPC\",\"Nee laat maar aan:/NO\",\"PC aan:/StartUpPC\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":45,"wires":[[]]},{"id":"8c284c6f.232fd","type":"api-current-state","z":"145c2489.f4645b","name":"Desktop","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.desktop","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":417,"y":1059,"wires":[["d663b848.186318"]]},{"id":"d663b848.186318","type":"change","z":"145c2489.f4645b","name":"Desktop","rules":[{"t":"set","p":"desktop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":1058,"wires":[[]]},{"id":"d8c32f05.39294","type":"switch","z":"145c2489.f4645b","name":"Desktop","property":"desktop","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1663,"wires":[["d56d69b7.c685b8"]]},{"id":"d56d69b7.c685b8","type":"api-call-service","z":"145c2489.f4645b","name":"desktop","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.desktop","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":1663,"wires":[[]]},{"id":"771ef6f5.ea4e48","type":"switch","z":"145c2489.f4645b","name":"Logeerkamer","property":"Logeerkamer","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1347,"wires":[["b0bda658.91f3e8"]]},{"id":"be4cc638.bfc3e8","type":"switch","z":"145c2489.f4645b","name":"WC","property":"WC","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":403,"y":1311,"wires":[["7f5767aa.cfb1d8"]]},{"id":"8651a09e.8198","type":"switch","z":"145c2489.f4645b","name":"KeukenHanglamp","property":"keukenhanglamp","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":443,"y":1275,"wires":[["9c0b50a8.27e22"]]},{"id":"1acd1046.86088","type":"switch","z":"145c2489.f4645b","name":"Schuur","property":"Schuur","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":413,"y":1238,"wires":[["30853fa8.826d"]]},{"id":"b0bda658.91f3e8","type":"api-call-service","z":"145c2489.f4645b","name":"Logeerkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.logeerkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":799,"y":1348,"wires":[[]]},{"id":"7f5767aa.cfb1d8","type":"api-call-service","z":"145c2489.f4645b","name":"WC","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":779,"y":1312,"wires":[[]]},{"id":"9c0b50a8.27e22","type":"api-call-service","z":"145c2489.f4645b","name":"KeukenHanglamp","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.keuken_hanglamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":819,"y":1275,"wires":[[]]},{"id":"30853fa8.826d","type":"api-call-service","z":"145c2489.f4645b","name":"Schuur","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.schuur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":789,"y":1240,"wires":[[]]},{"id":"54e643f1.7c0f2c","type":"api-current-state","z":"145c2489.f4645b","name":"Logeerkamer","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.logeerkamer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":427,"y":782,"wires":[["9b7df89f.afc738"]]},{"id":"d144196a.7d6a18","type":"api-current-state","z":"145c2489.f4645b","name":"WC","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.wc","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":407,"y":745,"wires":[["a4a74074.e9163"]]},{"id":"59c2901.76c6c7","type":"api-current-state","z":"145c2489.f4645b","name":"Schuur","server":"283f0fdf.31d54","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.schuur","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":417,"y":709,"wires":[["4a1778ec.51a808"]]},{"id":"9b7df89f.afc738","type":"change","z":"145c2489.f4645b","name":"Logeerkamer","rules":[{"t":"set","p":"logeerkamer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":782,"wires":[[]]},{"id":"a4a74074.e9163","type":"change","z":"145c2489.f4645b","name":"WC","rules":[{"t":"set","p":"wc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":782,"y":746,"wires":[[]]},{"id":"4a1778ec.51a808","type":"change","z":"145c2489.f4645b","name":"Schuur","rules":[{"t":"set","p":"schuur","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":791,"y":709,"wires":[[]]},{"id":"8093d4dc.c6a238","type":"api-current-state","z":"145c2489.f4645b","name":"Huiskamer","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.huiskamer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":427,"y":673,"wires":[["f8fe2264.fcd84"]]},{"id":"f8fe2264.fcd84","type":"change","z":"145c2489.f4645b","name":"Huiskamer","rules":[{"t":"set","p":"huiskamer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":801,"y":673,"wires":[[]]},{"id":"175d92df.49533d","type":"switch","z":"145c2489.f4645b","name":"Huiskamer","property":"huiskamer","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":422,"y":1202,"wires":[["e935dc3.52a1f2"]]},{"id":"e935dc3.52a1f2","type":"api-call-service","z":"145c2489.f4645b","name":"Huiskamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.huiskamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":1204,"wires":[[]]},{"id":"f0317833.bc1578","type":"switch","z":"145c2489.f4645b","name":"Gang Boven","property":"gang_boven","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":423,"y":1163,"wires":[["a40fce9c.0683c"]]},{"id":"a40fce9c.0683c","type":"api-call-service","z":"145c2489.f4645b","name":"gang_boven","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.gang_boven","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":801,"y":1165,"wires":[[]]},{"id":"6120a86a.db4938","type":"switch","z":"145c2489.f4645b","name":"gang_beneden","property":"gang_beneden","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":436,"y":1126,"wires":[["2b3af3dd.00b44c"]]},{"id":"2b3af3dd.00b44c","type":"api-call-service","z":"145c2489.f4645b","name":"gang_beneden","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.gang_beneden","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":814,"y":1128,"wires":[[]]},{"id":"b8e78fe6.42fb1","type":"api-call-service","z":"145c2489.f4645b","name":"nachtlampje","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.nachtlampje","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":663,"y":521,"wires":[[]]},{"id":"c46c3caf.9da66","type":"api-call-service","z":"145c2489.f4645b","name":"licht_keuken","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.licht_keuken","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":663,"y":488,"wires":[[]]},{"id":"e0d5fd38.dc0a","type":"api-call-service","z":"145c2489.f4645b","name":"beeldschermen","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.beeldschermen","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":673,"y":454,"wires":[[]]},{"id":"c68969c4.9aeaf8","type":"api-call-service","z":"145c2489.f4645b","name":"lamp_slaapkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_slaapkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":683,"y":420,"wires":[[]]},{"id":"34ce9825.ef70e8","type":"api-call-service","z":"145c2489.f4645b","name":"stroompunt_huiskamer_achter","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.stroompunt_huiskamer_achter","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":723,"y":387,"wires":[[]]},{"id":"19204dd7.b669e2","type":"api-call-service","z":"145c2489.f4645b","name":"lamp_badkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_badkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":673,"y":352,"wires":[[]]},{"id":"461550d8.b1125","type":"api-call-service","z":"145c2489.f4645b","name":"LampEnSpiegel","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_en_spiegel","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":673,"y":318,"wires":[[]]},{"id":"35ebacd6.875104","type":"api-call-service","z":"145c2489.f4645b","name":"Logeerkamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.logeerkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":663,"y":285,"wires":[[]]},{"id":"899b41f5.416cc","type":"api-call-service","z":"145c2489.f4645b","name":"WC","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":644,"y":251,"wires":[[]]},{"id":"7a37cf8d.14c19","type":"api-call-service","z":"145c2489.f4645b","name":"KeukenHanglamp","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.keuken_hanglamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":685,"y":217,"wires":[[]]},{"id":"9ce9dade.ed70f8","type":"api-call-service","z":"145c2489.f4645b","name":"Schuur","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.schuur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":656,"y":182,"wires":[[]]},{"id":"eb740a1b.6963f8","type":"api-call-service","z":"145c2489.f4645b","name":"Huiskamer","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.huiskamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":667,"y":148,"wires":[[]]},{"id":"c7a0e760.b277b8","type":"api-call-service","z":"145c2489.f4645b","name":"gang_boven","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.gang_boven","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":668,"y":113,"wires":[[]]},{"id":"f5894fb2.c5dfd","type":"api-call-service","z":"145c2489.f4645b","name":"gang_beneden","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.gang_beneden","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":678,"y":79,"wires":[[]]},{"id":"3a021e11.1d5db2","type":"api-current-state","z":"145c2489.f4645b","name":"keuken_hanglamp","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.keuken_hanglamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":447,"y":640,"wires":[["981374af.987208"]]},{"id":"981374af.987208","type":"change","z":"145c2489.f4645b","name":"Keuken Hanglamp","rules":[{"t":"set","p":"keukenhanglamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":821,"y":640,"wires":[[]]},{"id":"89315c56.b79e2","type":"api-current-state","z":"145c2489.f4645b","name":"Gang Beneden","server":"283f0fdf.31d54","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.gang_beneden","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":438,"y":605,"wires":[["346bbc4b.5ecc44"]]},{"id":"346bbc4b.5ecc44","type":"change","z":"145c2489.f4645b","name":"Gang Beneden","rules":[{"t":"set","p":"gang_beneden","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":812,"y":605,"wires":[[]]},{"id":"56f0ddd7.fdd5f4","type":"api-current-state","z":"145c2489.f4645b","name":"Gang Boven","server":"283f0fdf.31d54","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.gang_boven","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":427,"y":569,"wires":[["d2cc4560.db5ef8"]]},{"id":"d2cc4560.db5ef8","type":"change","z":"145c2489.f4645b","name":"Gang Boven","rules":[{"t":"set","p":"gang_boven","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":801,"y":569,"wires":[[]]},{"id":"6b3a9202.135b8c","type":"function","z":"4b675256.e3946c","name":"Teller ophogen","func":"count = flow.get('count')||0;\ncount++;\nflow.set('count', count);\nreturn {payload : count};","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["245533d2.3d836c"]]},{"id":"245533d2.3d836c","type":"switch","z":"4b675256.e3946c","name":"Tel aantal kliks","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":585,"y":219,"wires":[["b524ff04.6b504","a872fb3b.844068"],["8dfe401d.5a357","9c30146b.9a3688"],["54744c47.b7c444","1bbfcfd.5a7863","16377488.dba63b"]]},{"id":"8dfe401d.5a357","type":"api-call-service","z":"4b675256.e3946c","name":"KeukenHanglamp aan","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.keuken_hanglamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1008,"y":261,"wires":[[]]},{"id":"9c30146b.9a3688","type":"api-call-service","z":"4b675256.e3946c","name":"licht_keuken aan","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.licht_keuken","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":998,"y":295,"wires":[[]]},{"id":"b7f4994c.bd9758","type":"server-state-changed","z":"4b675256.e3946c","name":"Switch Hanglamp","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.keuken_hanglamp","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":140,"y":220,"wires":[["6b3a9202.135b8c"]]},{"id":"b524ff04.6b504","type":"api-call-service","z":"4b675256.e3946c","name":"licht_keuken aan","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.licht_keuken","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":998,"y":195,"wires":[[]]},{"id":"a872fb3b.844068","type":"api-call-service","z":"4b675256.e3946c","name":"KeukenHanglamp uit","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.keuken_hanglamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1008,"y":161,"wires":[[]]},{"id":"54744c47.b7c444","type":"api-call-service","z":"4b675256.e3946c","name":"KeukenHanglamp uit","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.keuken_hanglamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1008,"y":351,"wires":[[]]},{"id":"1bbfcfd.5a7863","type":"api-call-service","z":"4b675256.e3946c","name":"licht_keuken uit","server":"283f0fdf.31d54","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.licht_keuken","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":988,"y":384,"wires":[[]]},{"id":"16377488.dba63b","type":"change","z":"4b675256.e3946c","name":"Teller resetten","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":998,"y":441,"wires":[[]]},{"id":"9d28b10d.04254","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"LampEnSpiegel","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.lamp_en_spiegel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":200,"y":195,"wires":[["aa100d09.e5005"],["96b00be8.626c78"]]},{"id":"6f03636.cfa009c","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_en_spiegel","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":35,"wires":[[]]},{"id":"984c8d76.e5dfe","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"Lamp Badkamer","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.lamp_badkamer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":75,"wires":[["6f03636.cfa009c"],["b04712f6.d1137"]]},{"id":"b04712f6.d1137","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_en_spiegel","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":95,"wires":[[]]},{"id":"aa100d09.e5005","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_badkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":175,"wires":[[]]},{"id":"96b00be8.626c78","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_badkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":215,"wires":[[]]},{"id":"90db349d.2b1d48","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"Switch Beneden","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.gang_beneden","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":200,"y":475,"wires":[["6316727c.853bec"],["45b17178.80224"]]},{"id":"af46a697.12b808","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.gang_beneden","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":315,"wires":[[]]},{"id":"c3a7e1f8.b1304","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"Switch Boven","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.gang_boven","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":355,"wires":[["af46a697.12b808"],["9d4595e3.ac83f8"]]},{"id":"9d4595e3.ac83f8","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.gang_beneden","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":355,"wires":[[]]},{"id":"6316727c.853bec","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.gang_boven","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":455,"wires":[[]]},{"id":"45b17178.80224","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.gang_boven","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":495,"wires":[[]]},{"id":"eb930794.8bb0b8","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"Zon","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":635,"wires":[["a41a6c42.0f426"],["ae5229cb.f77768"]]},{"id":"a41a6c42.0f426","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.buiten","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":615,"wires":[[]]},{"id":"ae5229cb.f77768","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.buiten","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":655,"wires":[[]]},{"id":"901709d1.55f258","type":"server-state-changed","z":"39b6e9f7.7d6636","name":"Kelder","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kelder","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":755,"wires":[["f257c598.145f98"],[]]},{"id":"1e29202d.db0bc","type":"api-call-service","z":"39b6e9f7.7d6636","name":"","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kelder","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":755,"wires":[[]]},{"id":"f257c598.145f98","type":"delay","z":"39b6e9f7.7d6636","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":735,"wires":[["1e29202d.db0bc"]]},{"id":"c79d6e89.3526d","type":"api-current-state","z":"145c2489.f4645b","name":"Away","server":"283f0fdf.31d54","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.thuis","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":113,"y":780,"wires":[[],["88cb550f.d5ddb8","8c284c6f.232fd","5ba9fc4b.1ca644","a20786e7.c9a8d8","56dea85f.510918","93de0345.57d36","4aa6f894.c90d38","94a014dc.035508","71a0c7ed.0ba7c8","54e643f1.7c0f2c","d144196a.7d6a18","59c2901.76c6c7","8093d4dc.c6a238","3a021e11.1d5db2","89315c56.b79e2","56f0ddd7.fdd5f4"]]},{"id":"740b29f1.d76698","type":"server-state-changed","z":"145c2489.f4645b","name":"Slapen","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.slapen","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":50,"y":1120,"wires":[["c79d6e89.3526d"],["6120a86a.db4938","f0317833.bc1578","175d92df.49533d","1acd1046.86088","8651a09e.8198","d8c32f05.39294","be5f5dc6.65687","f35aa88c.ced518","ae14383b.d74018","1b2fdde4.231302","a8f91620.35f058","42499ffa.3cdac","e708ccbc.21458","771ef6f5.ea4e48","be4cc638.bfc3e8"]]},{"id":"b88a15b1.ce73c8","type":"api-call-service","z":"43622070.6205f","name":"Leegmaken","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.roborock_empty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":80,"wires":[[]]},{"id":"bab56564.97e5c8","type":"inject","z":"43622070.6205f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["b88a15b1.ce73c8"]]},{"id":"3cd1dcd6.0fe984","type":"api-call-service","z":"43622070.6205f","name":"Stofzuigen","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":" script.roborock_woonkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":160,"wires":[[]]},{"id":"c2e4114b.57b27","type":"inject","z":"43622070.6205f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * 2,5,0","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["bf12cfaf.83e4c"]]},{"id":"bf12cfaf.83e4c","type":"api-call-service","z":"43622070.6205f","name":"To Medium","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.roborock_medium","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":160,"wires":[["3cd1dcd6.0fe984"]]},{"id":"bd64867c.3a4d38","type":"api-call-service","z":"43622070.6205f","name":"Dweilen","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.roborock_woonkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":240,"wires":[[]]},{"id":"f43f0c55.17a5","type":"inject","z":"43622070.6205f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["62784a56.e55184"]]},{"id":"62784a56.e55184","type":"api-call-service","z":"43622070.6205f","name":"To Mop","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.roborock_mop","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":240,"wires":[["bd64867c.3a4d38"]]},{"id":"cf957e3a.414c2","type":"delay","z":"7004d25f.4eb20c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":180,"wires":[["ed2905e3.9d2f78"]]},{"id":"ed2905e3.9d2f78","type":"api-call-service","z":"7004d25f.4eb20c","name":"Dropbox","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":180,"wires":[["63104bb6.ed46f4"]]},{"id":"f691f9a8.649428","type":"function","z":"7004d25f.4eb20c","name":"format snapshot","func":"var date;\ndate = new Date();\ndate = ('00' + ('00' + date.getDate()).slice(-2)).slice(-2) + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' +  (date.getFullYear() + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg.payload = \n{\n  \"data\": \n  {\n    \"name\": \"Automatische backup \" + date,\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["bdd6db4d.1e7ee8"]]},{"id":"bdd6db4d.1e7ee8","type":"api-call-service","z":"7004d25f.4eb20c","name":"Snapshot","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"hassio","service":"snapshot_full","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":260,"wires":[["1305e414.5e8b1c"]]},{"id":"6e6f4a2b.14cd04","type":"inject","z":"7004d25f.4eb20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":88,"y":220,"wires":[["f691f9a8.649428","cf957e3a.414c2"]]},{"id":"90afaa99.1197b8","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":260,"wires":[[]]},{"id":"1305e414.5e8b1c","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"var date;\ndate = new Date();\ndate = ('00' + ('00' + date.getDate()).slice(-2)).slice(-2) + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' +  (date.getFullYear() + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg.payload = \n{\n  \"data\": \n  {\n    \"title\": \"HASSIO Backup lokaal\",\n    \"message\": \"Automatische backup van \" + date,\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["90afaa99.1197b8"]]},{"id":"d8e59421.f9a998","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":180,"wires":[[]]},{"id":"63104bb6.ed46f4","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"var date;\ndate = new Date();\ndate = ('00' + ('00' + date.getDate()).slice(-2)).slice(-2) + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' +  (date.getFullYear() + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg.payload = \n{\n  \"data\": \n  {\n    \"title\": \"HASSIO Backup DropBox\",\n    \"message\": \"Automatische backup van \" + date,\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["d8e59421.f9a998"]]},{"id":"918be04b.68003","type":"inject","z":"7004d25f.4eb20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["79d86f05.4b2bd"]]},{"id":"79d86f05.4b2bd","type":"api-call-service","z":"7004d25f.4eb20c","name":"Let's Crypt renewal","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"core_letsencrypt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":400,"wires":[[]]},{"id":"2647bea4.7beb22","type":"server-events","z":"7004d25f.4eb20c","name":"Telegram Callback","server":"283f0fdf.31d54","event_type":"telegram_callback","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":95,"y":540,"wires":[["f6496db7.62d3d"]]},{"id":"f6496db7.62d3d","type":"switch","z":"7004d25f.4eb20c","name":"","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/StartUpPC","vt":"str"},{"t":"eq","v":"/NO","vt":"str"},{"t":"eq","v":"/ShutdownPC","vt":"str"},{"t":"eq","v":"/AfvalBuiten","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":540,"wires":[["b721cf24.afa89"],["aa3e058c.290578"],["62e47ad7.d2c004"],["b52ae073.2287e"]]},{"id":"b721cf24.afa89","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Ik start de PC op\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["b45e5b88.817488"]]},{"id":"aa3e058c.290578","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Ik doe niks, laat de PC aan\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["7a986000.fcdcf"]]},{"id":"62e47ad7.d2c004","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Ik sluit de PC af\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["c734c9b5.7edc48"]]},{"id":"b45e5b88.817488","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":480,"wires":[["331dc0d0.77141"]]},{"id":"331dc0d0.77141","type":"api-call-service","z":"7004d25f.4eb20c","name":"desktop","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.desktop","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1120,"y":480,"wires":[[]]},{"id":"7a986000.fcdcf","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":540,"wires":[[]]},{"id":"c734c9b5.7edc48","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":600,"wires":[["37647f6e.8e1be"]]},{"id":"528055f9.78a61c","type":"api-call-service","z":"7004d25f.4eb20c","name":"Shutdown PC","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":600,"wires":[[]]},{"id":"37647f6e.8e1be","type":"function","z":"7004d25f.4eb20c","name":"Format shutdown command","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"addon\": \"core_rpc_shutdown\",\n    \"input\": \"Desktop\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":600,"wires":[["528055f9.78a61c"]]},{"id":"2c6707e1.83fcc8","type":"server-state-changed","z":"145c2489.f4645b","name":"Ad","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.ad","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":55,"y":1787,"wires":[[],["58d1ef4e.0f237"]]},{"id":"43f2746f.7fe32c","type":"server-state-changed","z":"145c2489.f4645b","name":"Jacqueline","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jacqueline","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":65,"y":1837,"wires":[[],["c4f62fee.fd7c5"]]},{"id":"a6d2a17c.02246","type":"server-state-changed","z":"145c2489.f4645b","name":"Mark","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mark","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":55,"y":1885,"wires":[[],["f51e1eaa.40086"]]},{"id":"58d1ef4e.0f237","type":"function","z":"145c2489.f4645b","name":"format notification","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Ad is thuis\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1780,"wires":[["1fc28182.9c2ffe"]]},{"id":"b8ba49d0.5bfaa8","type":"server-state-changed","z":"145c2489.f4645b","name":"Kitty","server":"283f0fdf.31d54","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.kitty","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":50,"y":1940,"wires":[[],["a95de331.c2379"]]},{"id":"c4f62fee.fd7c5","type":"function","z":"145c2489.f4645b","name":"format notification","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Jacqueline is thuis\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1820,"wires":[["387f2981.e78de6"]]},{"id":"f51e1eaa.40086","type":"function","z":"145c2489.f4645b","name":"format notification","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Mark is thuis\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1860,"wires":[["bbc51539.3598b8"]]},{"id":"a95de331.c2379","type":"function","z":"145c2489.f4645b","name":"format notification","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Kitty is thuis\",\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1900,"wires":[["4462510.f46a5b"]]},{"id":"1fc28182.9c2ffe","type":"api-call-service","z":"145c2489.f4645b","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1780,"wires":[[]]},{"id":"387f2981.e78de6","type":"api-call-service","z":"145c2489.f4645b","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1820,"wires":[[]]},{"id":"bbc51539.3598b8","type":"api-call-service","z":"145c2489.f4645b","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1860,"wires":[[]]},{"id":"4462510.f46a5b","type":"api-call-service","z":"145c2489.f4645b","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1900,"wires":[[]]},{"id":"15dc8a31.2b0e56","type":"api-call-service","z":"43622070.6205f","name":"To Medium","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.roborock_map","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":320,"wires":[["2714f1e0.f4b6fe"]]},{"id":"4e7cb20d.e388dc","type":"inject","z":"43622070.6205f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["15dc8a31.2b0e56"]]},{"id":"2714f1e0.f4b6fe","type":"debug","z":"43622070.6205f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":300,"wires":[]},{"id":"13f79996.784a26","type":"inject","z":"7004d25f.4eb20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 18-21 * * *","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["a344a60b.8fd4a8"]]},{"id":"b52ae073.2287e","type":"debug","z":"7004d25f.4eb20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":720,"wires":[]},{"id":"a344a60b.8fd4a8","type":"api-current-state","z":"7004d25f.4eb20c","name":"Afval","server":"283f0fdf.31d54","version":1,"outputs":2,"halt_if":"Geen","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.trash_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":820,"wires":[["29867d4f.3a14f2"],[]]},{"id":"29867d4f.3a14f2","type":"function","z":"7004d25f.4eb20c","name":"format Telegram Message","func":"var afval;\nafval = msg.payload;\n\nmsg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Het volgende moet buiten \" + afval,\n        \"inline_keyboard\": [\n        \"Afval buiten gezet:/AfvalBuiten\",\n    ]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["11724451.100cbc"]]},{"id":"11724451.100cbc","type":"api-call-service","z":"7004d25f.4eb20c","name":"Notify","server":"283f0fdf.31d54","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":820,"wires":[[]]}]